.cookie-container {
  width: 50vh;
  height: 50vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.upgrade-shop {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: salmon;
}

.cookies {
  justify-content: center;
}

html {
  background-color: salmon;
}
